header {
    font-family: monospace;
    text-align: left;
    margin-left: 15px;
}

body {
    background-color: lightslategrey;
    font-family: monospace;
}

ul {
    list-style-type: none;
    text-align: right;
    margin-right: 35px;
}

li {
    display: inline;
    margin-left: 1%;
}

p2 {
    margin-left: 45px;
}

h2 {
    
}

.banner {
    background-image: url("../images/My\ project-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 400px;
    object-fit: cover;
    width: 100vw;
    object-position: bottom;
}

.image-container {
    position: relative;
    top: -20rem;
    left: 75vw;
    z-index: 999; 
    width: 300px;
    height: 200px;
}

.container {
    display: flex;
    align-items: center;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    z-index: 999; 
}

#about-me {

}

#contact {
/* Add your styles for #contact here */
}

#resume {
/* Add your styles for #resume here */
}

#work {
/* Add your styles for #work here */
}